@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);

body {  
	margin: 0;	
	width: 300px;
	font-family: 'Roboto','Source Sans Pro', sans-serif;
	background: linear-gradient(#F06785, #F57A68);
}
header {
	height: 50px;
	border-bottom: 2px solid rgba(255, 255, 255, .5);
}

main {
	height: 300px;
	text-align: center;
	color: #fff;
	font-weight: 100;
}

#timer {
	margin:auto;
	padding: 30px 0 30px 0;
	width: 80%;
	font-size: 60px;
}

#button {
	margin: auto;
	width: 80px;
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .5);
	font-size: 30px;
}

#button:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, .7);
}

footer {
	height: 100px;
	background-color: rgba(255, 255, 255, .5);
}

colorset {
	!#DF4064 #23CDAF #0F9983 #FE4B52 #C6462E
}