@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);

body {  
	margin: 0;	
	width: 100%;
	font-family: 'Roboto','Source Sans Pro', sans-serif;
	background-color: #eee;
}
header {
	height: 50px;
	background-color: #F57A68;
}

main {
	text-align: center;
	color: #000;
	font-weight: 100;
}

#timer {
	margin:auto;
	padding: 30px 0 30px 0;
	width: 80%;
	font-size: 10em;
}

#button {
	margin: auto;
	width: 200px;
	height: 200px;
	line-height: 200px;
	vertical-align: middle;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .5);
	font-size: 30px;
}

#button:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, .7);
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: rgba(255, 255, 255, .5);
}

colorset {
	!#DF4064 #23CDAF #0F9983 #FE4B52 #C6462E #F06785 #F57A68
}