@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);

body {  
	margin: 0;	
	width: 100%;
	font-family: 'Roboto','Source Sans Pro', sans-serif;
	background: #eaeaea url('bg.png');
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	font-weight: bold;
	font-size: 2em;
}

a{
	cursor: pointer;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.3);

}

#top-left{
	position: absolute;
	top:0;
	left:0;
	padding: 20px;
}

#bottom-left {
	position: absolute;
	bottom:0;
	left:0;
	padding: 20px;
}

section.center {
	margin: auto;
	width: 60%;
	padding-top: 100px;
	text-align: center;
}

aside {
	position: absolute;
	top: 0px;
	right:0px;
	width: 50px;
	height: 100%;
	background: #fff ;
}

#work-inventory {
	top: 0;
}

todo-today {
	top:50%;
	border: 1px solid;
}