doctype html
html
 head
   title=pomodoro
   meta(charset='utf-8')
   link(rel='stylesheet', href='style.css')
   script(src='jquery.min.js')
   script(src='main.js')
   script(src='timer.js')
 body
  header
   div#header-container
    ul
     li
      a(href='/') pomodoro
     li
      a(href='/statistics') statistics
    div#work-inventory-bar inventory
    span.arrow-head
    aside.modal
     div.todo-today
      h2 TODO TODAY
      textarea
     div.work-inventory
      h2 WORK INVENTORY
      textarea
