extends header
block content
  section.center
   div#timer
   div#work Now I'm focusing on...
   div(class='btn-container start', style='dislplay: block') start
   div(class='btn-container finish', style='display:none') finish